*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
test.db
cache
kcef-bundle
.DS_Store
captures
.externalNativeBuild
.cxx
*.dylib
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
secrets.properties
iosApp/Configuration/Secrets.xcconfig
composeApp/src/desktopMain/composeResources/files/credentials.json
composeApp/google-services.json
*.aab
*.apk
